body{
	background: linear-gradient(#7DB1C0, #4B6A73);
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	}
p{
	text-align: center;
	margin: 10px;
	font-size: 30px;
}
h1{
	margin: 0px;
}
header{
	/* Le titre */
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 0px 0px 2px rgb(0,0,0);
	word-spacing: 10px;
	text-align: center;
	color: #F5F550;
	margin: 0px;
	margin-top: 5px;
	text-transform: uppercase;
	cursor: default;

}
footer{
	border-top: solid #83BABF;
}
a{
	color: #DE4B48;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s ease;
}

a:hover{
	color: #5E15A8;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.download{ 
	font-size: 30px;
	text-align: center;
	padding: 30px;
	margin: 50px;
	width: 100px;
	background-color: #F5F550;
	box-shadow: 0px 0px 5px #000;
	transition: 0.3s;
}
.download:hover{
	padding: 30px 60px 30px 60px;
}
img{
	height: 50px;
	margin-top: 10px;
}